<br>
<div class="row" style="margin: auto;">
  <div class="card mx-auto" style="width: 18rem;">
    <img src="../../assets/default_social_image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="articulo1" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 18rem;  ">
    <img src="../../assets/default_social_image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="articulo2" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 18rem;  ">
    <img src="../../assets/default_social_image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="articulo2" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

